Integration Google Forms, Google Sheets.blueprint (1).json
{
    "name": "Integration Google Forms, Google Sheets",
    "flow": [
        {
            "id": 3,
            "module": "google-forms:watchResponses",
            "version": 2,
            "parameters": {
                "limit": 2,
                "formId": "1gKlWyvQb5l3ktXtmbdhdVXlDcHam7p58_llm0zbXAnU",
                "__IMTCONN__": 4975114
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "GoogleSheet (monalikhot00@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "createTime",
                        "type": "date",
                        "label": "Create Time"
                    },
                    {
                        "name": "lastSubmittedTime",
                        "type": "date",
                        "label": "Last Submitted Time"
                    },
                    {
                        "name": "respondentEmail",
                        "type": "text",
                        "label": "Respondent Email"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "07416e7e",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "First Name"
                            },
                            {
                                "name": "00db72b4",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Email"
                            },
                            {
                                "name": "5f76d546",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Shipping Address"
                            },
                            {
                                "name": "1fe7980c",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Select Book Type"
                            },
                            {
                                "name": "19f7e1c6",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Quantity"
                            },
                            {
                                "name": "2088c462",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Special Instructions"
                            }
                        ],
                        "type": "collection",
                        "label": "Answers"
                    },
                    {
                        "name": "totalScore",
                        "type": "number",
                        "label": "Total Score"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4975114
            },
            "filter": {
                "name": "only delivery to USA",
                "conditions": [
                    [
                        {
                            "a": "{{3.answers.`5f76d546`.textAnswers.answers[].value}}",
                            "b": "United State Of America",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{3.answers.`07416e7e`.textAnswers.answers[].value}}",
                    "1": "{{3.answers.`00db72b4`.textAnswers.answers[].value}}",
                    "2": "{{3.answers.`5f76d546`.textAnswers.answers[].value}}",
                    "3": "{{3.answers.`1fe7980c`.textAnswers.answers[].value}}",
                    "4": "{{3.answers.`19f7e1c6`.textAnswers.answers[].value}}",
                    "5": "{{3.answers.`2088c462`.textAnswers.answers[].value}}"
                },
                "sheetId": "Sheet1",
                "spreadsheetId": "/1T8I36VH6zDpXcLG4M7dtUnUVobsu9nFKoFZQEXaM1ac",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Book Order Response"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "First Name (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Email (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Shipping Address (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Select Book Type (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Quantity (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Special Instructions (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "(G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "(H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "(I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "(J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "GoogleSheet (monalikhot00@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "First Name (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Email (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Shipping Address (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Select Book Type (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Quantity (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Special Instructions (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 4973514
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{3.answers.`00db72b4`.textAnswers.answers[].value}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Hello {{3.answers.`07416e7e`.textAnswers.answers[].value}}, Thank you for your order! Weve received your request for Summary story book, Quantity {{3.answers.`19f7e1c6`.textAnswers.answers[].value}} and its now being processed. Your books will be shipped to{{3.answers.`5f76d546`.textAnswers.answers[].value}}, with an estimated delivery by . Youll receive a tracking number once the order is dispatched.\r\n\r\nBest regards,\r\nXYZ",
                                "subject": "Thank You for ordering.\n {{3.answers.`07416e7e`.textAnswers.answers[].value}}",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 743,
                                    "y": -112
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "Gmail (monalikhot00@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "notion:createAPage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4990368
                            },
                            "mapper": {
                                "fields": {
                                    "TCYr": "{{3.answers.`00db72b4`.textAnswers.answers[].value}}",
                                    "tFdY": "{{3.answers.`5f76d546`.textAnswers.answers[].value}}",
                                    "title": "{{3.answers.`07416e7e`.textAnswers.answers[].value}}",
                                    "hL%3AO": "{{3.answers.`1fe7980c`.textAnswers.answers[].value}}",
                                    "%40Q%3C_": "{{3.answers.`2088c462`.textAnswers.answers[].value}}",
                                    "%5BcW%7C": "{{3.answers.`19f7e1c6`.textAnswers.answers[].value}}"
                                },
                                "select": "list",
                                "database": "25446d9d-7b49-8081-a730-e435843c5ef3"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 757,
                                    "y": 229
                                },
                                "restore": {
                                    "expect": {
                                        "fields": {
                                            "nested": {
                                                "hL%3AO": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "select": {
                                            "label": "Select from the list"
                                        },
                                        "database": {
                                            "nested": [
                                                {
                                                    "name": "fields",
                                                    "spec": [
                                                        {
                                                            "name": "title",
                                                            "type": "text",
                                                            "label": "First Name",
                                                            "metadata": {
                                                                "type": "title"
                                                            },
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "%40Q%3C_",
                                                            "type": "text",
                                                            "label": "Special Instructions",
                                                            "metadata": {
                                                                "type": "rich_text"
                                                            }
                                                        },
                                                        {
                                                            "name": "TCYr",
                                                            "type": "email",
                                                            "label": "Email",
                                                            "metadata": {
                                                                "type": "email"
                                                            }
                                                        },
                                                        {
                                                            "name": "%5BcW%7C",
                                                            "type": "number",
                                                            "label": "Quantity",
                                                            "metadata": {
                                                                "type": "number"
                                                            }
                                                        },
                                                        {
                                                            "name": "hL%3AO",
                                                            "type": "select",
                                                            "label": "Select Book Type",
                                                            "options": [],
                                                            "metadata": {
                                                                "type": "select"
                                                            },
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "tFdY",
                                                            "type": "text",
                                                            "label": "Shipping Address",
                                                            "metadata": {
                                                                "type": "rich_text"
                                                            }
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Fields"
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "notion3"
                                            },
                                            "label": "Book Order"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:notion2,notion3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a Database ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "database",
                                        "type": "text",
                                        "label": "Database ID",
                                        "required": true
                                    },
                                    {
                                        "name": "fields",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "First Name",
                                                "metadata": {
                                                    "type": "title"
                                                },
                                                "required": true
                                            },
                                            {
                                                "name": "%40Q%3C_",
                                                "type": "text",
                                                "label": "Special Instructions",
                                                "metadata": {
                                                    "type": "rich_text"
                                                }
                                            },
                                            {
                                                "name": "TCYr",
                                                "type": "email",
                                                "label": "Email",
                                                "metadata": {
                                                    "type": "email"
                                                }
                                            },
                                            {
                                                "name": "%5BcW%7C",
                                                "type": "number",
                                                "label": "Quantity",
                                                "metadata": {
                                                    "type": "number"
                                                }
                                            },
                                            {
                                                "name": "hL%3AO",
                                                "type": "select",
                                                "label": "Select Book Type",
                                                "metadata": {
                                                    "type": "select"
                                                }
                                            },
                                            {
                                                "name": "tFdY",
                                                "type": "text",
                                                "label": "Shipping Address",
                                                "metadata": {
                                                    "type": "rich_text"
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Fields"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Database Item ID"
                                    },
                                    {
                                        "name": "created_time",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "last_edited_time",
                                        "type": "date",
                                        "label": "Last Edited Time"
                                    },
                                    {
                                        "name": "created_by",
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "uuid",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Created by"
                                    },
                                    {
                                        "name": "last_edited_by",
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "uuid",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Last Edited by"
                                    },
                                    {
                                        "name": "icon",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "emoji",
                                                "type": "text",
                                                "label": "Emoji"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Icon"
                                    },
                                    {
                                        "name": "cover",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "external",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "External"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Cover"
                                    },
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "parent",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "workspace",
                                                "type": "boolean",
                                                "label": "Workspace"
                                            },
                                            {
                                                "name": "page_id",
                                                "type": "text",
                                                "label": "Page ID"
                                            },
                                            {
                                                "name": "database_id",
                                                "type": "text",
                                                "label": "Database ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Parent"
                                    },
                                    {
                                        "name": "archived",
                                        "type": "boolean",
                                        "label": "Archived"
                                    },
                                    {
                                        "name": "properties",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "people",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "object",
                                                                "type": "text",
                                                                "label": "Object"
                                                            },
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "avatar_url",
                                                                "type": "text",
                                                                "label": "Avatar Url"
                                                            },
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "person",
                                                                "spec": [
                                                                    {
                                                                        "name": "email",
                                                                        "type": "text",
                                                                        "label": "Email"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Person"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "People"
                                                },
                                                {
                                                    "name": "url",
                                                    "type": "text",
                                                    "label": "URL"
                                                },
                                                {
                                                    "name": "text",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "text",
                                                                "spec": [
                                                                    {
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "link",
                                                                        "type": "text",
                                                                        "label": "Link"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Text"
                                                            },
                                                            {
                                                                "name": "annotations",
                                                                "spec": [
                                                                    {
                                                                        "name": "bold",
                                                                        "type": "boolean",
                                                                        "label": "Bold"
                                                                    },
                                                                    {
                                                                        "name": "italic",
                                                                        "type": "boolean",
                                                                        "label": "Italic"
                                                                    },
                                                                    {
                                                                        "name": "strikethrough",
                                                                        "type": "boolean",
                                                                        "label": "Strikethrough"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    },
                                                                    {
                                                                        "name": "code",
                                                                        "type": "boolean",
                                                                        "label": "Code"
                                                                    },
                                                                    {
                                                                        "name": "color",
                                                                        "type": "text",
                                                                        "label": "Color"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Annotations"
                                                            },
                                                            {
                                                                "name": "plain_text",
                                                                "type": "text",
                                                                "label": "Plain Text"
                                                            },
                                                            {
                                                                "name": "href",
                                                                "type": "text",
                                                                "label": "Href"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "select",
                                                    "spec": [
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "color",
                                                            "type": "text",
                                                            "label": "Color"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Select"
                                                },
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                },
                                                {
                                                    "name": "phone_number",
                                                    "type": "text",
                                                    "label": "Phone Number"
                                                },
                                                {
                                                    "name": "multi_select",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Multi Select"
                                                },
                                                {
                                                    "name": "date",
                                                    "spec": [
                                                        {
                                                            "name": "start",
                                                            "type": "text",
                                                            "label": "Start"
                                                        },
                                                        {
                                                            "name": "end",
                                                            "type": "text",
                                                            "label": "End"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Date"
                                                },
                                                {
                                                    "name": "checkbox",
                                                    "type": "boolean",
                                                    "label": "Checkbox"
                                                },
                                                {
                                                    "name": "number",
                                                    "type": "number",
                                                    "label": "Number"
                                                },
                                                {
                                                    "name": "files",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Files"
                                                },
                                                {
                                                    "name": "title",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "text",
                                                                "spec": [
                                                                    {
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "link",
                                                                        "type": "text",
                                                                        "label": "Link"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Text"
                                                            },
                                                            {
                                                                "name": "annotations",
                                                                "spec": [
                                                                    {
                                                                        "name": "bold",
                                                                        "type": "boolean",
                                                                        "label": "Bold"
                                                                    },
                                                                    {
                                                                        "name": "italic",
                                                                        "type": "boolean",
                                                                        "label": "Italic"
                                                                    },
                                                                    {
                                                                        "name": "strikethrough",
                                                                        "type": "boolean",
                                                                        "label": "Strikethrough"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    },
                                                                    {
                                                                        "name": "code",
                                                                        "type": "boolean",
                                                                        "label": "Code"
                                                                    },
                                                                    {
                                                                        "name": "color",
                                                                        "type": "text",
                                                                        "label": "Color"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Annotations"
                                                            },
                                                            {
                                                                "name": "plain_text",
                                                                "type": "text",
                                                                "label": "Plain Text"
                                                            },
                                                            {
                                                                "name": "href",
                                                                "type": "text",
                                                                "label": "Href"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "last_edited_time",
                                                    "time": true,
                                                    "type": "date",
                                                    "label": "Last Edited Time"
                                                },
                                                {
                                                    "name": "created_time",
                                                    "time": true,
                                                    "type": "date",
                                                    "label": "Created Time"
                                                },
                                                {
                                                    "name": "last_edited_by",
                                                    "spec": [
                                                        {
                                                            "name": "object",
                                                            "type": "text",
                                                            "label": "Object"
                                                        },
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "avatar_url",
                                                            "type": "text",
                                                            "label": "Avatar Url"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "person",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "text",
                                                                    "label": "Email"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Person"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Last Edited By"
                                                },
                                                {
                                                    "name": "created_by",
                                                    "spec": [
                                                        {
                                                            "name": "object",
                                                            "type": "text",
                                                            "label": "Object"
                                                        },
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "avatar_url",
                                                            "type": "text",
                                                            "label": "Avatar Url"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "person",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "text",
                                                                    "label": "Email"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Person"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Created By"
                                                },
                                                {
                                                    "name": "formula",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "string",
                                                            "type": "text",
                                                            "label": "String"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Formula"
                                                },
                                                {
                                                    "name": "relation",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Relation"
                                                },
                                                {
                                                    "name": "label",
                                                    "type": "text",
                                                    "label": "Label"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Properties"
                                    },
                                    {
                                        "name": "properties_value",
                                        "spec": [
                                            {
                                                "name": "Special Instructions",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Special Instructions"
                                            },
                                            {
                                                "name": "Email",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "Quantity",
                                                "type": "number",
                                                "label": "Quantity"
                                            },
                                            {
                                                "name": "Select Book Type",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Select Book Type"
                                            },
                                            {
                                                "name": "Shipping Address",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Shipping Address"
                                            },
                                            {
                                                "name": "First Name",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "First Name"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Properties Value"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}